In [15]:
# series

# imports
import numpy as np
import pandas as pd

# Creating labels and data
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]


# Creating Series
def create_series(data, index=None):
    return pd.Series(data, index=index)


# Printing Series
print(create_series(my_data))
print(create_series(my_data, labels))

# Series with countries
ser = create_series([1, 2, 3, 4], ['USA', 'Germany', 'USSR', 'Japan'])
print(ser)

# Accessing Series by key
print(ser['USA'])

# Creating DataFrame demo
df = pd.DataFrame({
    'Country': ['USA', 'Germany', 'Italy', 'Japan'],
    'Values': [1, 2, 5, 4]
})
print(df)
df

0    10
1    20
2    30
dtype: int64
a    10
b    20
c    30
dtype: int64
USA        1
Germany    2
USSR       3
Japan      4
dtype: int64
1
   Country  Values
0      USA       1
1  Germany       2
2    Italy       5
3    Japan       4

   Country  Values
0      USA       1
1  Germany       2
2    Italy       5
3    Japan       4

## Dataframes - Part 1

In [16]:
from numpy.random import randn

np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
w_column = df['W']
print(w_column)
print(type(w_column))

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
<class 'pandas.core.series.Series'>