---
<a href='http://www.pieriandata.com'> <img src='../../images/Pierian_Data_Logo.png' /></a>
---

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
salaries = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [6]:
# Display the first 5 rows of the dataframe
df = pd.DataFrame(salaries)
print(df.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

** Use the .info() method to find out how many entries there are.**

In [7]:
# use the .info() method to find out how many entries there are
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

**What is the average BasePay ?**

In [12]:
# get the average base pay
import locale

# Set the locale to en_US
locale.setlocale(locale.LC_ALL, 'en_US')

# Convert the 'BasePay' column back to float
df['BasePay'] = df['BasePay'].apply(
    lambda x: locale.atof(x.replace('$', '').replace(',', '')))

# Get the average of the 'BasePay' column
average_base_pay = df['BasePay'].mean()

print(
    f"The average base pay is: {locale.currency(average_base_pay, grouping=True)}"
)

The average base pay is: $66,325.45

** What is the highest amount of OvertimePay in the dataset ? **

In [13]:
# get the highest amount of overtime pay
highest_overtime_pay = df['OvertimePay'].max()
print(f'The highest amount of overtime pay is: {highest_overtime_pay}')

The highest amount of overtime pay is: 245131.88

** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [14]:
# get the job title of JOSEPH DRISCOLL
joseph_driscoll = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']
job_title = joseph_driscoll['JobTitle'].values[0]
print(f"The job title of JOSEPH DRISCOLL is: {job_title}")

The job title of JOSEPH DRISCOLL is: CAPTAIN, FIRE SUPPRESSION

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [15]:
# get the total salary plus benefits of JOSEPH DRISCOLL
joseph_driscoll_total_compensation = joseph_driscoll[
    'TotalPayBenefits'].values[0]
print(
    f"The total salary plus benefits of JOSEPH DRISCOLL is: {joseph_driscoll_total_compensation}"
)

The total salary plus benefits of JOSEPH DRISCOLL is: 270324.91

** What is the name of highest paid person (including benefits)?**

In [18]:
# get the name of the highest paid person including benefits
highest_paid_person = df[df['TotalPayBenefits'] ==
                         df['TotalPayBenefits'].max()]

# print the highest paid person's details in a table
print(highest_paid_person.to_string(index=False))

 Id   EmployeeName                                       JobTitle   BasePay  OvertimePay  OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  Notes        Agency  Status
  1 NATHANIEL FORD GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY 167411.18          0.0 400184.25       NaN 567595.43         567595.43  2011    NaN San Francisco     NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [29]:
# create a new dataframe for the lowest paid person. The table headers should be Id, EmployeeName, JobTitle, BasePay, OvertimePay, OtherPay, Benefits, TotalPay, TotalPayBenefits
lowest_paid_person = df[df['TotalPayBenefits'] == df['TotalPayBenefits'].min()]

# print the lowest paid person's details in a table
print(lowest_paid_person.to_string(index=False))

 title_len  TotalPayBenefits
       1.0         -0.036878

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [20]:
# get the average base pay of all employees 2011-2014
average_base_pay_2011_2014 = df[(df['Year'] >= 2011)
                                & (df['Year'] <= 2014)]['BasePay'].mean()

print(
    f"The average base pay of all employees from 2011 to 2014 is: {locale.currency(average_base_pay_2011_2014, grouping=True)}"
)

The average base pay of all employees from 2011 to 2014 is: $66,325.45

** How many unique job titles are there? **

In [21]:
# get the number of unique job titles
unique_job_titles = df['JobTitle'].nunique()
print(f"The number of unique job titles is: {unique_job_titles}")

The number of unique job titles is: 2159

** What are the top 5 most common jobs? **

In [22]:
# get the top 5 most common jobs
top_5_most_common_jobs = df['JobTitle'].value_counts().head(5)
print(top_5_most_common_jobs)

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [23]:
# get number of job titles only represented by one person in 2013
job_titles_2013 = df[df['Year'] == 2013]['JobTitle'].value_counts()
job_titles_one_person = job_titles_2013[job_titles_2013 == 1].count()
print(
    f"The number of job titles represented by only one person in 2013 is: {job_titles_one_person}"
)

The number of job titles represented by only one person in 2013 is: 202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [24]:
# get the number of people with the word 'Chief' or 'chief' in their job title
chiefs = df[df['JobTitle'].str.contains('Chief', case=False)]
print(
    f"The number of people with the word 'Chief' or 'chief' in their job title is: {chiefs['JobTitle'].count()}"
)

The number of people with the word 'Chief' or 'chief' in their job title is: 627

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [26]:
# Create a new column 'TitleLength' that represents the length of each Job Title
df['TitleLength'] = df['JobTitle'].apply(len)

# Calculate the correlation between 'TitleLength' and 'TotalPayBenefits'
correlation = df['TitleLength'].corr(df['TotalPayBenefits'])

print(
    f"The correlation between the length of job title and salary is: {correlation}"
)

The correlation between the length of job title and salary is: -0.03687844593260671

In [27]:
# Create a DataFrame
df = pd.DataFrame({
    '': ['title_len', 'TotalPayBenefits'],
    'title_len': [1.000000, -0.036878],
    'TotalPayBenefits': [-0.036878, 1.000000]
})

# Set the first column as the DataFrame's index
df.set_index('', inplace=True)

# Print the DataFrame as a table
print(df.to_string())

                  title_len  TotalPayBenefits

title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!